.itemTitle {
  font-size: 0.9rem;
  text-shadow: 0.5px 0.5px 2px rgb(206, 206, 206);
  font-weight: 400;
  padding-left: 5px;
  padding-right: 50px;
  overflow: hidden;
  text-overflow: ellipsis;

  @supports (-webkit-line-clamp: 3) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.itemAuthor {
  font-size: 0.8rem;
  font-style: italic;
  color: grey;
  font-weight: 400;
  margin-top: 5px;
  padding-left: 5px;
}

.nftInfoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100px;
 background: -webkit-linear-gradient(top,#000 95%, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wish {
  position: absolute;
  z-index: 1;
  margin-left: 170px;
  margin-top: 255px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: rgb(233, 233, 233);
  padding-top: 2px;
  padding-right: 6px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  //border-radius: 50%;
}

.wish:hover {
  background-color: rgb(213, 213, 213);
}

.wish:active {
  transform: translateX(1px) translateY(-2px);
  border: 2px solid rgb(255, 255, 255);
  outline: none;
  animation: breathe 0s linear infinite;
}